.slideshow-container {
    max-width: 1230px;
    max-height: 375px ;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.mySlides img {
    border-radius: 8px;
    width: 1230px;
    height: auto;
    object-fit: cover;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #0f4670, #4ba3e7);
    cursor: pointer;
    z-index: 2;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.prev i, .next i {
    font-size: 32px;
    color: white;
}

/* Animation */
@keyframes fade {
    from {opacity: .3} 
    to {opacity: 1}
} 
/* Thêm vào file SlideShow.css */
.fade {
    animation: fade 1.5s ease-in-out;
}